// Font attributes and import
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
$app-font: 'Red Hat Text', sans-serif;
$font-weight: 700;
// Media Query
//Colors
$grayish-blue: hsl(237,18,59);
$soft-red: hsl(345,95,68);

$White: hsl(0, 0, 100);
$Dark-desaturated-blue: hsl(236, 21, 26);
$Very-dark-blue: hsl(235, 16, 14);
$darkest-blue: hsl(234, 17, 12);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    // height: 667px;
    min-height: 100%;
    width: 100vw;
    background-color: $Very-dark-blue;
    background-image: url(/images/bg-stars.svg);
    font-family: $app-font;
    main{
        position: absolute;
        top:168px;
        display: flex;
        flex-direction: column;
        // width: 335px;
        width: 89%;
        height: 36%;
        h1{
            font-size: 20px;
            font-size: 125%;
            text-align: center;
            color:$White;
            margin: 50px 0px;
            letter-spacing: 0.23em;
            cursor: pointer;
        span::before{
            content: "\A";
            white-space: pre;
        }
        }
        
    }
}
