@import "_base";
footer{
    display: flex;
    position: absolute;
    top: 650px;
    height: 169px;
    width: 100vw;
    justify-content: center;
    z-index: 1;
    background-image: url(/images/pattern-hills.svg);
    // content:"";
    background-size: 100% 197px;
    // 197px
    background-position: center center;
    background-repeat: no-repeat;
    .s-media-link{
        display: flex;
        height: 100px;
        width: 100vw;
        justify-content: center;
        i{
            height: 32px;
            width: 32px;
            color:$grayish-blue;
            cursor: pointer;
        }
        i:hover{
            height: 32px;
            width: 32px;
            color:$soft-red;
        }
    }

}


