footer{
    display: block;
    position: absolute;
    top: 50px;
    height: 169px;
    width: 100vw;
    text-indent: -9999px;
    // background-color: black;

}
footer::after{
    position: relative;
    
    content:"";
    background: url(/images/pattern-hills.svg);
    background-size: 375px 116px;
    background-repeat: no-repeat;
}