// Genneral footer
.s-media-icon-lg{
   height: 32px; 
   width: 32px; 
}
// Pinterest
// Facebook
.facebook-icon-lg{
    background-image: url(../images/icon-facebook.svg);
}
.pinterest-icon-lg{
    background-image: url(../images/icon-pinterest.svg);
}
// Instagram
.instagram-icon-lg{
    background-image: url(../images/icon-instagram.svg);
}