// Import Base
@import "_base" ;
@import "_launch-timer";
@import "_footer";
@import "_desktop-media-query";


.attribution { 
    position: relative;
    top: 710px;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}