// Import Base
@import "_base","_launch-timer","_footer","_desktop-media-query","_modal";


.attribution { 
    position: relative;
    top: 710px;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}